.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 43px;
  padding-bottom: 3px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-links-list-item {
  list-style: circle;
  text-underline-offset: 4px;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-link-active {
  text-decoration: none;
}

.logo-black {
  width: 135px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 193px;
  padding-bottom: 2px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.address-link {
  text-underline-offset: 4px;
}

.address-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  max-width: 236px;
  justify-self: end;
}

.page-title {
  display: flex;
  flex-direction: column;
  padding-top: 153px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 95px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 135%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.cover {
  position: relative;
  overflow: hidden;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  inset: 0;
  background: rgb(0 0 0/ 0.6);
  z-index: -1;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 7px;
  word-spacing: 19px;
  padding-bottom: 11px;
}

.description-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
}

.make-bet-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 11px 32px;
  margin-bottom: 2px;
}

.lots-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 24px;
}

.lots-title {
  padding-top: 180px;
  padding-left: 65px;
  padding-bottom: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: black;
}

.lot-link {
  height: 100%;
  text-decoration: none;
}

.lots-card-list-item {
  position: relative;
  overflow: hidden;
  min-height: 596px;
  width: 334px;
  list-style: none;
  z-index: -1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") center / cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") center / cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") center / cover;
}

.lot-title {
  padding: 50px 40px 30px 42px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-align: left;
}

.lot-content-text {
  padding-top: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
  text-align: left;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

.view-more-link {
  display: inline-block;
  padding-left: 65px;
  padding-top: 35px;
  padding-bottom: 100px;
  text-underline-offset: 4px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.logo-white {
  padding-top: 5px;
  width: 148px;
}

.logo-white-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 23px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.about-title {
  padding-top: 110px;
  padding-bottom: 105px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: black;
}

.about-text {
  padding-right: 28px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 82px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-left: 7px;
}

.footer-links-list-item {
  list-style: none;
}

.footer-link {
  text-underline-offset: 4px;
}

.footer-link-active {
  text-decoration: none;
}

.menu-items-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 47px;
  padding-right: 50px;
}

.contact-item {
  list-style: none;
}

.contact-logo {
  width: 48px;
}

.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.address-footer {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  max-width: 250px;
  justify-self: end;
}
