/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-links-list-item-no-bullit {
  list-style: none;
}

.header-links-list-item {
  list-style: circle;
  text-underline-offset: 4px;
}

.header-link-active {
  text-decoration: none;
}

.logo-black {
  width: 135px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 192px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.number {
  text-underline-offset: 5px;
}

.email {
  text-underline-offset: 4px;
}

.adress {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  max-width: 236px;
  justify-self: end;
}

.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 650px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 70px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 140%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.first-line {
  text-align: left;
}

.second-line {
  text-align: center;
}

.third-line {
  text-align: right;
}

.overlay {
  position: relative;
  min-height: 757px;
  width: 100%;
  inset: 0;
  background: rgb(0 0 0/ 0.6);
  z-index: 0;
}

.cover {
  min-height: 757px;
  overflow: hidden;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.description-text {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
  text-transform: uppercase;
  color: white;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  word-spacing: 20px;
}

.make-bet-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 30px;
}

.lots-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.lots-title {
  padding-top: 180px;
  padding-left: 65px;
  padding-bottom: 30px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: black;
}

.lot-link {
  height: 100%;
}

.lot-item-first {
  background-image: url("/images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  min-height: 596px;
  width: 334px;
  list-style: none;
  z-index: -1;
}

.lot-item-second {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  min-height: 596px;
  width: 334px;
  list-style: none;
  z-index: -1;
}

.lot-item-third {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  min-height: 596px;
  width: 334px;
  list-style: none;
  z-index: -1;
}

.lot-content-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: end;
  height: 100%;
}

.lot-content-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lot-content-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lot-overlay {
  position: relative;
  height: 100%;
  width: 334px;
  inset: 0;
  background: rgb(0 0 0/ 0.6);
  z-index: 0;
}

.lot-title-first {
  padding: 40px 45px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-align: left;
}

.lot-title-second {
  padding: 40px 40px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-align: left;
}

.lot-title-third {
  padding: 40px 45px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-align: left;
}

.lot-content-text {
  padding-top: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

.view-more-link {
  display: inline-block;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 100px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.logo-white {
  width: 148px;
}

.logo-white-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.about-title {
  padding-top: 100px;
  padding-bottom: 110px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: black;
}

.about-text {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer-menu {
  display: flex;
  justify-content: center;
}

.menu-items-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-right: 50px;
}

.contact-logo {
  width: 48px;
}

.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.adress-footer {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  max-width: 250px;
  justify-self: end;
}
